<p id="notice"><%= notice %></p>

<p>
  <b>Image:</b>
  <%= @slider.image %>
</p>

<p>
  <b>Id empresa:</b>
  <%= @slider.id_empresa %>
</p>


<%= link_to 'Edit', edit_slider_path(@slider) %> |
<%= link_to 'Back', sliders_path %>
