<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @supercategorium.nombre %>
</p>

<p>
  <b>Id categoria:</b>
  <%= @supercategorium.id_categoria %>
</p>


<%= link_to 'Edit', edit_supercategorium_path(@supercategorium) %> |
<%= link_to 'Back', supercategoria_path %>
