<h1>Mostrando categorias</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Id ciudad</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categoria.each do |categorium| %>
  <tr>
    <td><%= categorium.nombre %></td>
    <td><%= categorium.id_ciudad %></td>
    <td><%= link_to 'Show', categorium %></td>
	<% if can? :update, @categoria %>
    <td><%= link_to 'Edit', edit_categorium_path(categorium) %></td><% end %> <% if can? :destroy, @categoria %>
    <td><%= link_to 'Destroy', categorium, confirm: 'Are you sure?', method: :delete %></td><% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Categorium', new_categorium_path %>

