<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @categorium.nombre %>
</p>

<p>
  <b>Id ciudad:</b>
  <%= @categorium.id_ciudad %>
</p>


<%= link_to 'Edit', edit_categorium_path(@categorium) %> |
<%= link_to 'Back', categoria_path %>
