<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido %>
    <%= f.text_field :apellido %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :telefono %>
    <%= f.number_field :telefono %>
  </div>
  <div class="field">
    <%= f.label :asunto %>
    <%= f.text_field :asunto %>
  </div>
  <div class="field">
    <%= f.label :mensaje %>
    <%= f.text_area :mensaje %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
