<h1>Mostrando datos </h1>

<table>
  <tr>
    <th>Ci</th>
    <th>Nombre</th>
    <th>Apellido paterno</th>
    <th>Apellido materno</th>
    <th>Teléfono</th>
    <th>Id usuario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


  <% if current_user %>
      <% if current_user.tipo == "cliente" %>
          <% van=current_user.id %>
          <% @personas = Persona.find(:all, :conditions => {:id_usuario => " #{van}"}) %>

          <% @personas.each do |persona| %>
              <tr>
                <td><%= persona.ci %></td>
                <td><%= persona.nombre %></td>
                <td><%= persona.apaterno %></td>
                <td><%= persona.amaterno %></td>
                <td><%= persona.telefono %></td>
                <td><%= persona.id_usuario %></td>
                <td><%= link_to 'Show', persona %></td>
                <% if can? :update, @personas %>
                    <td><%= link_to 'Edit', edit_persona_path(persona) %></td>
                <% end %>
                <% if can? :destroy, @personas %>
                    <td><%= link_to 'Destroy', persona, confirm: 'Are you sure?', method: :delete %></td>
                <% end %>

              </tr>
          <% end %>
      <% end %>
  <% end %>
</table>

<br/>
<% if current_user %>
    <% if current_user.tipo == "Admin" %>
        <%= link_to 'New Persona', new_persona_path %>
    <% end %>
<% end %>