
<p>
  <b>Ci:</b>
  <%= @persona.ci %>
</p>

<p>
  <b>Nombre:</b>
  <%= @persona.nombre %>
</p>

<p>
  <b>Apellido paterno:</b>
  <%= @persona.apaterno %>
</p>

<p>
  <b>Apellido materno:</b>
  <%= @persona.amaterno %>
</p>

<p>
  <b>Teléfono:</b>
  <%= @persona.telefono %>
</p>

<p>
  <b>Id usuario:</b>
  <%= @persona.id_usuario %>
</p>


<%= link_to 'Editar', edit_persona_path(@persona) %> |
<%= link_to 'Atrás', personas_path %>
