<h1>Configuraciones</h1>
<div id="config">
    <p>
        <a href="../departamentos"><%= image_tag "bolivia.gif", :size => "100x100", :title=>"Gestione Departamentos" %>
            <br/>
            Departamentos
        </a>
    </p>
	<p>
        <a href="../ciudads"><%= image_tag "ciudad.jpg", :size => "100x100", :title=>"Gestione Ciudades" %>
            <br/>
            Ciudades
        </a>
    </p>
    <p>
        <a href="../promocions"><%= image_tag "promos.jpg", :size => "100x100", :title=>"Gestione promociones" %>
            <br/>
            Promociones
        </a>
    </p>
    <p>
        <a href="../cupons"><%= image_tag "cupos.jpg", :size => "100x100", :title=>"Gestione cupones" %>
            <br/>
            Cupones
        </a>
    </p>
    <p>
        <a href="../sliders"><%= image_tag "slides.jpg", :size => "100x100", :title=>"Gestione Slides" %>
            <br/>
            Slides
        </a>
    </p>
	<p>
        <a href="../estados"><%= image_tag "estado.jpg", :size => "100x100", :title=>"Gestione Estados" %>
            <br/>
            Estados
        </a>
    </p>
</div>
