<nav id="menu1">
  <ul>
    <li>
      <%= link_to "Inicio", :controller => "principal", :action => "index" %>
    </li>
    <li>
      <%= link_to "Acerca de", :controller => "acercade", :action => "index" %>
    </li>

    <% if current_user %>
        <% if current_user.tipo == "cliente" %>

            <li>
              <%= link_to "Datos", :controller => "personas", :action => "index" %>
            </li>
            <li>
              <%= link_to "Buscar  ", :controller => "empresas", :action => "buscar" %>
            </li>
        <% elsif current_user.tipo == "empresa" %>
            <li>
              <%= link_to "Promocionar", :controller => "promocions", :action => "index" %>
            </li>
            <li>
              <%= link_to "Crear Cupones", :controller => "cupons", :action => "index" %>
            </li>
        <% elsif current_user.tipo == "Admin" %>
            <li>
              <%= link_to "Empresas", :controller => "empresas", :action => "index" %>
            </li>
            <li>
              <%= link_to "Configuración", :controller => "configuraciones", :action => "index" %>
            </li>
        <% end %>
        <% else %>
            <li>
              <%= link_to "Publicite", :controller => "empresas", :action => "presentacion" %>
            </li>

    <% end %>
    <li>
      <%= link_to "Contactanos", :controller => "contacts", :action => "new" %>
    </li>

  </ul>
</nav>
